@import "~react-image-gallery/styles/scss/image-gallery.scss";
.content{
    width: 1200px;
}
.country__name{
    text-align: center;
}
.country__info{
    margin-bottom: 20px;
    text-align: center;
}
.image-gallery{
    width: 600px;
    height: 450px;
    margin: 0 auto;
}